@font-face {
    font-family: Oswald;
    src: url(./Assets/Oswald-Font/Oswald-VariableFont_wght.ttf);
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 67, 77);
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Oswald;
}

header {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(58, 67, 77);
    color: beige;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 20px 3em 0px 3em;
    letter-spacing: 5px;
    }

footer {
    background-color: rgb(58, 67, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

footer p {
    color: beige;
}

footer a {
    color: beige;
    text-decoration: none;
}

footer a:hover {
    color: rgb(255, 174, 0);
}

#gameboard-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%;
}

#gameboard-grid {
    background-color: beige;
    display: grid;
    height: 525px;
    width: 525px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    font-weight: 900;

}

.grid-square {
    background-color: rgb(58, 67, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 198, 93);
    font-size: 100px;
    padding: 0;
}

.player-input {
    background-color: rgb(58, 67, 77);
    border-style: solid;
    border-color: beige;
    border-width: 4px;
    border-radius: 20px;
    padding: 8px;
    margin-top: 8px;
    color: beige;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

input:focus {
    color: beige;
    border-color: rgb(255, 198, 93);
    outline: 0 rgb(255, 198, 93);
}
